@import "reset";
@import "themes/dark";
@import "themes/light";
@import "themes/green";
@import "variables/global";

.app {
  height: 100vh;
  font: var(--font-m);
  background-color: var(--content-bg);
  color: var(--content-text-color);
}

.app-content {
  display: flex;
  height: calc(100vh - var(--navbar-height) - 6px);
}

.page-content {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 20px;
}
