.Button {
  cursor: pointer;
  color: var(--content-text-color);
  border: none;
}

.clear {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

.bordered {
  margin: 0;
  background: none;
  border: 1px solid var(--content-text-color);
  padding: 4px 12px;
  text-align: center;
}

.nav-squad-m,
.content-squad-m {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.nav-squad-m {
  background-color: var(--navbar-bg);
}

.content-squad-m {
  background-color: var(--content-bg);
}
