.SidebarItem {
  display: inline-flex;
  padding: 0 28px;
  height: 50px;
  align-items: center;

  &:hover {
    background-color: var(--sidebar-bg-hover);
  }

  span {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    transition: all ease-out 0.2s;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.sidebarItemClosed {
  span {
    width: 0;
    padding-left: 0;
  }
}
