.dark {
  --content-bg: #696761;
  --navbar-bg: #4d4c3f;
  --sidebar-bg: #4d4c3f;

  --content-text-color: #fff;
  --nav-text-color: #fff;

  --border: lightcoral;
  --content-border: #fff;
  --nav-border: #fff;
}