.dark {
  --content-bg: #696761;
  --content-bg-hover: #696761;
  --navbar-bg: #4d4c3f;
  --navbar-bg-hover: #5b5b51;
  --sidebar-bg: #646358;
  --sidebar-bg-hover: #7a7970;
  --content-text-color: #fff;
  --nav-text-color: #fff;
  --border: lightcoral;
  --content-border: #fff;
  --nav-border: #fff;
  --input-bg: #a3a29d;
}
