.dark {
  --content-bg: #878347;
  --navbar-bg: #6f6d3a;
  --sidebar-bg: #000;

  --content-text-color: #fff;
  --nav-text-color: #fff;

  --border: lightcoral;
  --content-border: #fff;
  --nav-border: #fff;
}