.light {

  --content-bg: #f0f07d;
  --navbar-bg: #968a24;
  --sidebar-bg: #000;

  --content-text-color: #000;
  --nav-text-color: #fff;

  --border: green;
  --content-border: #000;
  --nav-border: #fff;
}