.light {
  --content-bg: rgb(254 254 36 / 12%);
  --navbar-bg: rgb(226 205 27 / 87%);
  --sidebar-bg: rgb(238 231 111 / 64%);
  --content-text-color: #6e6b6b;
  --nav-text-color: #000;
  --border: green;
  --content-border: #000;
  --nav-border: #000;
}
